a.out
bluetooth_detect
gun_control

/images/

/SDK*/*

/Xilinx/*
!/Xilinx/hw/
/Xilinx/hw/xps_proj/*
!/Xilinx/hw/xps_proj/data/
/Xilinx/hw/xps_proj/data/*
!/Xilinx/hw/xps_proj/data/system.ucf
!/Xilinx/hw/xps_proj/pcores/
/Xilinx/hw/xps_proj/pcores/*/*
!/Xilinx/hw/xps_proj/pcores/*/hdl

/kernel_drivers/*/*
!/kernel_drivers/*/Makefile
!/kernel_drivers/*/*.[h|c|cpp]
/kernel_drivers/*/*.mod.c

/user_drivers/*
!/user_drivers/Makefile
!/user_drivers/*.[h|c|cpp]

/examples/*/*
!/examples/*/Makefile
!/examples/*/*.[h|c|cpp]
