ece453_defconfig
main.c

/images/

/SDK/*

/Xilinx/*
!/Xilinx/pcores/
/Xilinx/pcores/*/*
!/Xilinx/pcores/*/hdl/

/Xilinx/*
!/Xilinx/hw/
/Xilinx/hw/xps_proj/*
!/Xilinx/hw/xps_proj/pcores/
/Xilinx/hw/xps_proj/pcores/*/*
!/Xilinx/hw/xps_proj/pcores/*/hdl
