main.c

/images/

/SDK*/*

/Xilinx/*
!/Xilinx/hw/
/Xilinx/hw/xps_proj/*
!/Xilinx/hw/xps_proj/data/
/Xilinx/hw/xps_proj/data/*
!/Xilinx/hw/xps_proj/data/system.ucf
!/Xilinx/hw/xps_proj/pcores/
/Xilinx/hw/xps_proj/pcores/*/*
!/Xilinx/hw/xps_proj/pcores/*/hdl

/kernel_drivers/*/*
!/kernel_drivers/*/Makefile
!/kernel_drivers/*/*.h
!/kernel_drivers/*/*.c
/kernel_drivers/*/*.mod.c

/user_drivers/*/*
!/user_drivers/*/Makefile
!/user_drivers/*/*.h
!/user_drivers/*/*.c

/examples/*/*
!/examples/*/Makefile
!/examples/*/*.h
!/examples/*/*.c
